* {
    text-align: center;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.heading {
    color: rgb(235, 157, 12);
    background: rgb(247, 247, 233);
    margin: 10px;
    padding: 10px;
}

.logo {
    height: 200px;
    width: auto;
    padding: 10px;
}

.recipeList {
    list-style-position: inside;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    background-color: rgb(247, 247, 233);
}

li {
    text-align: left;
    padding: 5px;
}


